<h2> New Calendar </h2>

<div class="form">
    <form>
        <div class="form-group">
            <label for="name">Name: </label>
            {{input class='form-control' value=model.name type='text' id='name'}}
        </div>
        <div class="form-group">
            <label for="notes">Notes (optional): </label>
            {{textarea class='form-control' value=model.notes id='notes'}}
        </div>
        <div class="form-group">
            <button class="btn btn-primary" {{action "save"}}>Save</button>
            <button class="btn btn-danger" {{action "cancel"}}>Cancel</button>
        </div>
    </form>
</div>